---
import Logo from './Logo.astro'
import Nav from './Nav.astro'

const { current = '' } = Astro.props;
---

<style>
  .header-wrapper {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .site-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 999px; /* Pill shape */
    transition: all 0.3s ease;
    width: auto;
    background-color: rgba(17, 17, 21, 0.6);
    border: 1px solid var(--border-color);
    backdrop-filter: blur(25px);
  }

</style>

<div class="header-wrapper" id="header-wrapper">
  <header class="site-header">
    <Logo />
    <Nav current={current} />
  </header>
</div>
